# Compiled output
/dist
/node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS Files
.DS_Store
Thumbs.db

# Tests / Coverage
/coverage
/.nyc_output

# Environment variables & secrets
.env
.env.*
!.env.example

# IDE and Editor files
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.sublime-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Build and TypeScript artifacts
.nest
*.tsbuildinfo
